body {
    background-color: #083B4C;
}

.my_fs {
    font-size: 80px;
}

.blue {
    background-color: #1389B2;
    width: 50px;
    height: 50px;
}

.green {
    background-color: #0CD6A1;
}

.yellow {
    background-color: #FFD166;
}

.red {
    background-color: #F0466F;
}

#my_card {
    margin: 5px;
    width: calc(100%);
    display: flex;
    flex-wrap: wrap;
}

.myclass {
    width: calc(100% / 7 - 10px);
    margin: 5px;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}